main {
    display: flex;
    flex-grow: 1;
}
body {
    background-color: rgb(245, 208, 240);
}
.ba {
    display: flex;
    flex-flow: row;
    display: inline;
    background-color: rgb(173, 9, 127);
    border-radius: 5ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(248, 220, 241);
    font-size: 5ch;
}
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1ch;

}
.m {
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}
.c {
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}
.r {
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}
.a {
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}

.sidenav {
    display: flex;
    flex-direction: column;
    column-gap: 20rem;
}
ul {
    display:flex;
    flex-direction: column;
    column-gap: 5em;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2ch;
    list-style: none;
}
.br {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.ca  {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.co  {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.mu  {
    display:flex ;
    justify-content: space-evenly;
    column-gap: 1in;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.pi  {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.p1 {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2ch;
}
.testimonial {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 2ch;
    background-color: rgb(244, 168, 247);
}
.sa {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1ch;
    font-style: italic;
}
.foot {
    display: flex;
    flex-direction: column-reverse;
    display: inline;
    background-color: rgb(212, 177, 246);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2ch;
}

