main {
    display: flex;
    flex-grow: 1;
    justify-content: right;
}
body {
    background-image: url("https://cdn.shopify.com/s/files/1/0416/8083/0620/files/HKC-VAN-02-1715990245633.jpg");
}
.ba {
    display: flex;
    display: inline;
     background-color: rgb(240, 93, 198);
    border-radius: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 0, 0);
    font-size: 5ch;
}
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1ch;

}
.m {
    display: flex;
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}
.c {
    display: flex;
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}
.r {
    display: flex;
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}
.a {
    display: flex;
    background-color: rgb(101, 47, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3ch;
    color: rgb(255, 255, 255);
}

.sidenav {
    display: flex;
    flex-direction: column;
    column-gap: 20ch;
    column-width: 20vw;
    max-width: 100%;
    justify-content: space-evenly;
}
.br {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.ca  {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.co  {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.mu  {
    display:flex ;
    justify-content: space-evenly;
    column-gap: 1in;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.pi  {
    display:flex ;
    justify-content: space-evenly;
    border-radius: 10ch;
    background-color: rgb(240, 20, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 0, 0);
    font-size: 3ch;
}
.title {
    display: flex;
    justify-content: center;
}
.p1 {
    display: flex;
    flex-flow: column;
    column-gap: 10;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2ch
}
.testimonial {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 2ch;
    background-color: rgb(244, 168, 247);
}
.sa {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2ch;
    font-style: italic;
}
.foot {
    display: flex;
    display: inline;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(212, 177, 246);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2ch;
}

